body{
    background: blueviolet;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;

}
.digital {
    color: #000000;
    font-size: 40px;
    margin-top: 20px;
}
div#msg{
    color: #000000;
    font-size: 40px;
    margin-top: 20px;
}

section{
    background: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 30px;
    width: 500px;
    margin: auto;
}
div{
    text-align: center;
    padding: 10px;
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;

}
